hosts.ini
*.cert
*.key
*.crt
*.deb*
*.tfvars
*credentials.pkr.hcl
.terraform
*.lock.hcl
.vscode/settings.json
.vscode
.DS_Store

# Getting too big

# Jekyll
.bundle
.jekyll-cache/
.jekyll-metadata
.sass-cache/
_site/
Gemfile.lock
vendor/
