@charset "UTF-8";

/*!

Test Theme

*/



/* Default Behaviour */

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; margin: 0;
}

body {
  height: 100%;
  font-family: 'Monserrat';
  // display: none;
}