@charset "UTF-8";

/*!

Test Theme

*/



/* Default Behaviour */

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; margin: 0;
}

body {
  height: 100%;
  // 'Roboto', sans-serif;
  // 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  // Nice cursive
  // Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  font-family:'Roboto', sans-serif;
  // display: none;
}

p {

}