

.blog-page-wrapper {
  display: flex;
  flex-direction: column;
  margin: $wrapper-margin;
  padding: $wrapper-padding;
  background-color: $background-color;
  height: 100%;
  transition: 0.3s ease all;
  h1 {
    font-size: 2rem;
    padding: $card-padding;
    border-bottom: 1px solid $light-color;
  }
  .blog-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 1em;
    .blog-post {
      padding: $card-padding;
      border-radius: $cardborder-radius;
      background-color: $white-color;
      margin: 1em;
      box-shadow: $box-shadow;
      a {
        text-decoration: underline;
        color: $black;
        font-weight: bold;
      }
      .blog-post-date {
        color: $infodark-color;
        margin-bottom: .4em;
      }
      .blog-post-summary {
        margin-top: .4em;
      }
    }
    .blog-post:hover {
      box-shadow: none;
    }
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1020px) {
  html {
    font-size: 20px;
  }
  .blog-page-wrapper {
    .blog-cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}


@media only screen and (min-width: 1800px) {
  html {
    font-size: 22px;
  }
  .blog-page-wrapper {
    .blog-cards {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media only screen and (min-width: 2300px) {
  html {
    font-size: 24px;
  }
  .blog-page-wrapper {
    .blog-cards {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}