body {
  // display: none;
}

.default-wrapper {
  display: grid;
  grid-template-columns: auto;
  height: 100vh;

  section {
    // display: grid;
    // align-items: center;
    padding: 3em;
    display: grid;
    align-items: center;

    h1, h2, .read-btn {
      text-transform: uppercase;
      margin: 1em 0 1em 0;
    }

    h2 {
      font-size: 1.4rem;
    }

  }

  section.left-welcome {
    padding-top: 8em;
    // background: url('/images/background3.jpeg') no-repeat;
    // background-size: cover;
    background-color: $left-welcome-bg-color;
    p {
      width: 75%;
      font-size: 1.2rem;
    }

    .read-btn {
      text-decoration: none;
      color: $link-text-color;
      font-weight: bold;
      padding-left: 1em;
    }

    .primary {
      padding: 1.5em 1.5em 1.5em 3em;
      border: 1px solid black;
      background-color: black;
      color: white;
      display: inline-block;
      margin-top: 3em;
      margin-left: -3em;
    }
  }

  section.welcome {
    font-size: .9rem;
    line-height: 1.4rem;
  }

  section.welcome {
    background-color: $right-welcome-bg-color;

    a {
      text-decoration: none;
      color: $link-text-color;
      font-size: 1.2rem;
      font-weight: bold;
      margin-top: 1em;
    }

    p {
      margin-bottom: 1em;
      font-weight: bold;
      color: $white;
    }

    h1 {
      color: $white;
      font-size: 2rem;
    }


  }

}


@media screen and (min-width: 768px) {

  html {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1020px) {

  .default-wrapper {
    grid-template-columns: 70% auto;
    grid-template-rows: 100% auto;
    grid-template-areas:
      "left-welcome welcome"
      "left-welcome welcome";
    height: 100vh;
  }

  section {
    display: grid;
    align-items: center;
  }

  section.left-welcome {
    grid-area: left-welcome;
  }

  section.welcome {
    div.socials {
      a {
        padding: 0 1em 0 0;
      }
    }
  }
}


@media only screen and (min-width: 1800px) {
  html {
    font-size: 22px;
  }

}