.post-wrapper {
  display: flex;
  flex-direction: column;
  margin: 5em 5em 2em 5em;
  padding: 2em;
  .post-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    .post-header-date {
      font-size: 1rem;
      margin: .5em 0em .5em 0em;
      color: $grey;
      font-style: italic;
    }
    .post-header-info {
      font-size: 1rem;
      margin: .5em 0em .5em 0em;
    }
    .post-header-readtime {
      font-style: italic;
      font-weight: bold;
      margin: 0em 0em .5em 0em;
      padding-bottom: 1em;
      border-bottom: 1px solid $grey;
    }
  }
  .post-content {
    display: flex;
    flex-direction: column;
    h2,h3,h4,h5,h6 {
      padding: .5em 0em .5em 0em
    }
    ul {
      padding: .5em 2em .5em 1em;
      width: 100%;
      li {
        margin: .2em 0em .2em 0em;
        a {
          text-decoration: underline;
          color: black;
        }
      }
    }
    p {
      line-height: 1.4rem;
      margin: .4em 0em .4em 0em;
      text-align: justify;
    }
    div.highlight {
      overflow-x: auto;
      padding: 1em;
      margin: 1em 0em 1em 0em;
    }
  }
}

hr {
  margin: 2em 0em 2em 0em;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1020px) {
  html {
    font-size: 18px;
  }
  .post-wrapper {
    margin: 2em 10em 2em 10em;
  }
}


@media only screen and (min-width: 1800px) {
  html {
    font-size: 20px;
  }
  .post-wrapper {
    margin: 2em 15em 2em 15em;
  }
}

@media only screen and (min-width: 2300px) {
  html {
    font-size: 22px;
  }
  .post-wrapper {
    margin: 2em 20em 2em 20em;
  }
}