@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


$black: #0C0F0A;
$white: #eaeaea;
$cream: #f8f8f8;
$grey: #627264;
$blue: #00AFB9;
$green: #04F06A;
$pink: #946E83;
$orange: #E8871E;



$header-bg-color: $white;
$link-text-color: $black;
$submit-btn-bg-color: $black;
$submit-btn-color: $white;
$left-welcome-bg-color: #f5f5f5;
$right-welcome-bg-color: #3B4252;
$subscribe-bg-color: #2E3440;
