@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$primary-color: #FFCC00;
$submit-btn-bg-color: black;
$submit-btn-color: white;

body, html {
  margin: 0;
}

body {
  height: 100%;
  font-family: 'Monserrat';
  /* Fix late js loading */
  display: none;
}

header {
  position: absolute;
  padding: 1em;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 2em);
  background-color: white;
  a {
    text-decoration: none;
    color: black;
  }

  a.logo {
    font-weight: bold;
    text-transform: uppercase;
  }

  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;

    li a {
      padding: 1em;
    }
  }
}

.wrapper {
  display: grid;
  grid-template-columns: auto;

  section {
    padding: 3em;

    h1, h2, .read-btn {
      text-transform: uppercase;
      margin: 0;
    }

    h2 {
      font-size: 1.4rem;
    }

    .read-btn {
      text-decoration: none;
      color: black;
      font-weight: bold;
      // background: url('../../images/right-arrow.jpg') no-repeat;
      // background-size: 8px;
      // background-position: 0 1px;
      padding-left: 1em;
    }

    .primary {
      padding: 1.5em 1.5em 1.5em calc(3em + 25px);
      background-position: 3em;
      border: 1px solid grey;
      display: inline-block;
      margin-top: 3em;
      margin-left: -3em;
    }

    .clipper {
      overflow: hidden;
    }
  }

  section.hero {
    padding-top: 8em;
    background: url(../../images/background3.jpeg) no-repeat;
    background-size: cover;

    p {
      width: 70%;
      /* We use REM and em for scaling purposes */
      font-size: 1.2rem;
      margin-bottom: 0;
    }

    h1 {
      font-size: 2.4rem;
    }
  }

  section.sidebar, section.subscribe {
    font-size: .9rem;
    line-height: 1.6rem;
  }

  section.sidebar {
    background: $primary-color;

    .read-btn {
      margin-top: 2em;
      display: block;
      background-position: 0 .2em;
    }
  }

  section.subscribe {

    input {
      width: calc(100% - 2em);
      padding: 1em;
      font-family: 'Montserrat';
      margin-bottom: 1em;
    }

    button {
      width: 100%;
      background: $submit-btn-bg-color;
      color: $submit-btn-color;
      padding: 1em;
      border: none;
    }
  }
}
/* Scale from hpone to desktop (Easier) */
@media only screen and (min-width: 768px) {
  /* 1em = 16px, so since we did em for everything, we can now scale it by changing base font size */
  html {
    font-size: 18px;
  }
}

/* Scale from hpone to desktop (Easier) */
@media only screen and (min-width: 1020px) {
  header {
    background: none;
  }

  /* Make stacked layout into columns */
  .wrapper {
    /* We want two columns */
    grid-template-columns: 70% auto;
    /* We want two rows */
    grid-template-rows: 60% auto;
    /* Now we have this
      1 2
      3 4
    */
    /* We can now define the areas, so hero will occupy 1,3 and feautured is 2 and subscribe is 4 */
    grid-template-areas:
      "left featured"
      "left subscribe";
    height: 100vh;;
  }

  section.hero {
    /* assign this to the hero we defined above */
    grid-area: left;
  }

  section {
    /* For all 3 sections, we want to center the content */
    display: grid;
    grid-template-rows: auto;
    align-items: center;
  }
}

/* Scale from hpone to desktop (Easier) */
@media only screen and (min-width: 1800px) {
  /* 1em = 16px, so since we did em for everything, we can now scale it by changing base font size */
  html {
    font-size: 21px;
  }
}





